/* Coming Soon Section Styles */
.coming-soon-section {
    padding: 1.2rem;
    background-color: #FFF8E7;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon-container {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}

.coming-soon-container h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 500;
    color: #333;
}

/* Media Queries for Coming Soon Section */
@media (max-width: 768px) {
    .coming-soon-section {
        padding: 1rem;
    }

    .coming-soon-container h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .coming-soon-container h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .coming-soon-section {
        padding: 0.8rem;
    }

    .coming-soon-container h2 {
        font-size: 1.4rem;
    }
}